:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* My CSS rules */

body {
  background-color: black;
}
#big{
  height: 100vh;
  background-color:rgb(114, 111, 111);
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(114, 111, 111);
}

.bigNavBar {
  display: none;
}
.logo {
  width: 90vw;
  max-width: 700px;
}

.cardComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.card:hover {
  transform: scale(1.1);
}

.navBarLinks {
  color: black;
  text-decoration: none;
}
.AllCharOrFavChar{
  color: black;
}
.episodeNumber {
  color: black;
  text-decoration: none;
}


.externalLinksSub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.synopsisDiv {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 757px;
  align-items: center;
  border: solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: #646cff;
  background-image: url('./assets/images/synopsisBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  height: 300px;
  margin-bottom: 50px;

}
.synopsisTitle{
  font-size: 5vw;
  font-weight: bolder;
  color: #f9f9f9;
  
}
.synopsisText {
  font-size: 1.5vh;
  color: #f9f9f9;
  background-color: black;
  opacity: 70%;
  
}

.homepageImg {
  width: 40vw;
}
.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.show {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.searchFormButton {
  margin: 0 5px;
}
.searchbar {
  width: 75vw;
  max-width: 400px;
  margin: 5px;
  border-radius: 10px;

}

.hide {
display: none;
}
.episodeDetail {
  display: flex;
  justify-content: center;
  text-size-adjust: 80%;
  width: 60vw;
  margin: 10px;
  border-radius: 10px;
}
.characterDetail{
  width: 40vw;
  margin: 10px;
  border-radius: 10px;
}
.organizationDetail {
  width: 40vw;
  margin: 10px;
  border-radius: 10px;
}
.episodeList {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (min-width: 768px) {
  .externalLinks {
    display: flex;
  }
  .externalLinksSub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    margin: 10px;
    border-radius: 5px;
  }
  .homepageImg {
    width: 30vw;
    max-width: 500px;
  }
  .synopsisDiv {
    height: 500px;
    max-width: 1000px;
  }
  .synopsisTitle{
    font-size: 2vw;
    font-weight: bolder;
    color: #f9f9f9;
    /* backdrop-filter:blur(20px); */
  }
}